In [2]:
import pandas as pd
import csv
import sqlite3

In [6]:
df_to_db = pd.read_csv("Datasets\data_with_0.csv", index_col=0)
df_to_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3085 entries, 0 to 3084
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DOI                         3085 non-null   object
 1   Article name                3085 non-null   object
 2   Formula                     3085 non-null   object
 3   Cat. compound               3085 non-null   object
 4   Support                     3085 non-null   object
 5   Cat./Support ratio, % (at)  3085 non-null   float64
 6   Morphology (TEM/SEM)        3085 non-null   object
 7   Pore size, nm               3085 non-null   float64
 8   width min (nm)              3085 non-null   float64
 9   width aver (nm)             3085 non-null   float64
 10  width max (nm)              3085 non-null   float64
 11  length min (nm)             3085 non-null   float64
 12  length aver (nm)            3085 non-null   float64
 13  length max (nm)             3085 non-null   float64
 14  Cu, % (at.)                 3085 non-null   float64
 15  Cu+, % (at.)                3085 non-null   float64
 16  Cu(2+), % (at.)             3085 non-null   float64
 17  Base                        3085 non-null   object
 18  electrolyte                 3085 non-null   object
 19  conc, M                     3085 non-null   float64
 20  pH                          3085 non-null   float64
 21  RHE vs V                    3085 non-null   float64
 22  Time, h                     3085 non-null   float64
 23  Type of reactor             3085 non-null   object
 24  Av_ar_exactmw               3085 non-null   float64
 25  Av_ar_lipinskiHBA           3085 non-null   float64
 26  Av_ar_lipinskiHBD           3085 non-null   float64
 27  Av_ar_NumHBA                3085 non-null   float64
 28  Av_ar_NumHeavyAtoms         3085 non-null   float64
 29  Av_harm_labuteASA           3085 non-null   float64
 30  Av_harm_CrippenClogP        3085 non-null   float64
 31  Av_harm_kappa1              3085 non-null   float64
 32  Av_harm_kappa3              3085 non-null   float64
 33  Av_harm_Energy of +1 ion    3085 non-null   float64
 34  Av_harm_Metal_radius        3085 non-null   float64
 35  Product                     3085 non-null   object
 36  FE, %                       3085 non-null   float64
dtypes: float64(27), object(10)
memory usage: 915.9+ KB

In [19]:
str(df_to_db.dtypes["FE, %"])

'float64'

In [24]:
def form_query(df):
    query_text = str()
    dtyp_to_sq = { 'float64': 'REAL',
                    'object': 'TEXT',
    }
    for col in df_to_db.columns:
        col_type = str(df_to_db.dtypes[col])
        query_text += f"'{col}' {dtyp_to_sq[col_type]}, \n"     
    return query_text

print(form_query(df_to_db))

'DOI' TEXT,
'Article name' TEXT,
'Formula' TEXT,
'Cat. compound' TEXT,
'Support' TEXT,
'Cat./Support ratio, % (at)' REAL,
'Morphology (TEM/SEM)' TEXT,
'Pore size, nm' REAL,
'width min (nm)' REAL,
'width aver (nm)' REAL,
'width max (nm)' REAL,
'length min (nm)' REAL,
'length aver (nm)' REAL,
'length max (nm)' REAL,
'Cu, % (at.)' REAL,
'Cu+, % (at.)' REAL,
'Cu(2+), % (at.)' REAL,
'Base' TEXT,
'electrolyte' TEXT,
'conc, M' REAL,
'pH' REAL,
'RHE vs V' REAL,
'Time, h' REAL,
'Type of reactor' TEXT,
'Av_ar_exactmw' REAL,
'Av_ar_lipinskiHBA' REAL,
'Av_ar_lipinskiHBD' REAL,
'Av_ar_NumHBA' REAL,
'Av_ar_NumHeavyAtoms' REAL,
'Av_harm_labuteASA' REAL,
'Av_harm_CrippenClogP' REAL,
'Av_harm_kappa1' REAL,
'Av_harm_kappa3' REAL,
'Av_harm_Energy of +1 ion' REAL,
'Av_harm_Metal_radius' REAL,
'Product' TEXT,
'FE, %' REAL,

In [ ]:
# Import required modules
import csv
import sqlite3

# Connecting to the geeks database
connection = sqlite3.connect('g4g.db')

# Creating a cursor object to execute
# SQL queries on a database table
cursor = connection.cursor()

# Table Definition
create_table = '''CREATE TABLE person(
				id INTEGER PRIMARY KEY AUTOINCREMENT,
				name TEXT NOT NULL,
				age INTEGER NOT NULL);
				'''

# Creating the table into our 
# database
cursor.execute(create_table)

# Opening the person-records.csv file
file = open('person-records.csv')

# Reading the contents of the 
# person-records.csv file
contents = csv.reader(file)

# SQL query to insert data into the
# person table
insert_records = "INSERT INTO person (name, age) VALUES(?, ?)"

# Importing the contents of the file 
# into our person table
cursor.executemany(insert_records, contents)

# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully 
# inserted into the table
select_all = "SELECT * FROM person"
rows = cursor.execute(select_all).fetchall()

# Output to the console screen
for r in rows:
	print(r)

# Committing the changes
connection.commit()

# closing the database connection
connection.close()

In [ ]:
connection = sqlite3.connect('CO2RR.db')
cursor = connection.cursor()